<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="layout :: head"></head>
<body>
    <div class="container-fluid text-center">
        <div th:include="layout :: navigationPanel"></div>
        <div
                class="container p-5 text-center bg-image"
                style="
          background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
          height: 400px;
        "
        >
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Witaj w programie Zarządca</h1>
                        <h4 class="mb-3">Jestem aplikacją do zarządzania magazynem, zaczynajmy pracę!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="layout :: footer"></div>
    </div>
</body>
</html>